.list-area {
    padding:0;
    list-style: none;
}

.list-area-item {
    border: 1px solid black;
}

.list-area-item+.list-area-item {
    border-top:none;
    /* 보더 겹쳐서 2px되는거 방지 */
}

.list-area-item.active {
    background-color: royalblue;
    color: aliceblue;
}